html {
    font-size: 1em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.miniwidth {
    min-width: 100px;
}
.margin-els{
    margin-left: 3px;
    margin-right: 3px;
}
.center-text{
    text-align: center;
}

.margin-horizontal-25{
    margin-left: 25px;
    margin-right: 25px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid grey;
}

.msg_class{
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-color: lightskyblue;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

.msg-date{
    font-size: 0.75em;
    margin-bottom: -5px;
}

#span_notification{
    float: left;
}

.for-div-table{
    display: block;
    width: 100%;
}

.flex-class{
    display: flex;
}

.width-300{
    width: 300px;
}

/*Accordion START*/
#main {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.accord_body {
    width: 100%;
}

.accord_header {
    background-color: blanchedalmond;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    z-index: 10;
    font-size: 100%;
    font-weight: bold;
    margin: 5px 0 5px 0;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.accord_content {
    background-color: rgb(204, 181, 147);
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    margin-top: -6px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}
/*Accordion END*/
